<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="purple">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center hide-on-med-and-down">{% block page %}{% endblock %}</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users Jinja</a></li>
            {% if is_authenticated %}
                <li><a href="/identify">Identify</a></li>
            {% endif %}
            <li><a href="/static/users">Users JS</a></li>
        </ul>
        {% if is_authenticated %}
            <ul id="nav-mobile" class="right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
            <form class="right navbar-form" method="POST" action="/login" style="display: flex; flex-wrap: nowrap; align-items: center; margin-right: 10px;">
                <div class="input-field" style="margin-right: 10px;">
                    <input placeholder="username" value="bob" name="username" type="text" class="validate" required>
                    <label for="username">username</label>
                </div>
                <div class="input-field" style="margin-right: 10px;">
                    <input placeholder="password"value="bobpass" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn waves-effect waves-light">Login</button>
            </form>
        {% endif %}
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/face-1.png"></a>
            <a href="#name"><span class="black-text name">John Doe</span></a>
            <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
        </div></li>
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Sidebar Link</a></li>
</ul>

<div class="container" id="content">{% block content %}{% endblock %}</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        var menuIcon = document.querySelector('.sidenav-trigger');
        menuIcon.addEventListener('click', function() {
            var sidenavInstance = M.Sidenav.getInstance(elems[0]);
            sidenavInstance.open();
        });
    });
</script>
</body>
</html>