{% extends "material_design_layout.html" %}
{% block title %}Posts{% endblock %}
{% block page %}Posts{% endblock %}

{{ super() }}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset-desktop mdl-cell--4-offset-tablet mdl-cell--4-offset-phone mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <h1>{{ current_user.username }}'s Blog</h1>
    <!-- Form for creating a post -->
    <form action="/submit_post" method="POST" class="mdl-grid">
      <!-- Title input -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
        <input class="mdl-textfield__input" type="text" id="post_title" name="post_title">
        <label class="mdl-textfield__label" for="post_title">Title</label>
      </div>

      <!-- Post text area -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
        <textarea class="mdl-textfield__input" type="text" rows="5" id="post_content" name="post_content"></textarea>
        <label class="mdl-textfield__label" for="post_content">Your post</label>
      </div>

      <!-- Submit button -->
      <button type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-cell mdl-cell--12-col">
        Post
      </button>
    </form>

  </div>
</div>
{% endblock %}